* {
  font-family:'Times New Roman', Times, serif;
}

.title-container {
  text-align: center;
  padding : 5px;
  background-color: rgb(228, 231, 182);
  border: 5px dotted;
  margin-bottom: 10px;
}


.center, .description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 23px;

}

.return {
  text-align: right;
}

h1 {
  margin : 5px 0px;
  font-size: 66px;
}
h2 {
  margin: 10px;
  font-size: 50px;

}

.container {
  display: flex;
  /* padding: 5px 30px; */
  margin : px;
  background : peachpuff;

}

.container .recipe {
  text-align: center;
  flex: 1;
  outline: 1px solid;
}

.container .link {
  text-align: center;
  font-size: 21px;
}