html {
  background-color: beige(181, 9, 104);
}
.title {
  text-align: center;
  background-color: rgb(228, 231, 182);
}

.center, .description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.return {
  text-align: right;
}